body {
  font-family: Arial, sans-serif;
  background: #d9f7ff;
  padding:20px;
}

h2 {
  text-align: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 5px;
  margin: 5px auto;
  border: 2px solid black;
}

td  {
  border: none;
}

textarea,
select,
input[type="email"] ,
input[type="text"],
input[type="password"],
input[type="date"]{
  width: 70%;
  padding: 6px;
  background-color: #e4f7f7;
  border: 1px solid #7bb6b8;
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  padding: 8px 20px;
  margin: 10px 5px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #476d8b;
}

.form-buttons {
  text-align: center;
}
