body {
  margin: 0;
  font-family: Time New Roman, sans-serif;
}

header {
  background: #253745;
  color: white;
  text-align: center;
  padding: 10px;
}

footer {
  background: #253745;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  position: fixed;
  width: 180px;
  height: 100%;
  background:  #11212D;
  top: 0;
  
}

nav table{
  width: 100%;
}

nav td {
  padding: 10px;
  text_align: center;
}

nav a {
  display: block;
  padding: 8px 12px;
  background: #9BA8AB;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

nav a:hover {
  background: red;
}

main.content {
  padding: 20px;
  margin-left: 180px;
  background-image: url('background.avif');
  background-size: cover;
  background-position :center;
  background-repeat: no-repeat;
}

.content-frame {
  width: 100%;
  height: 480px;   
  border: none;
}


/* =========================
   Mobile (≤ 480px)
   ========================= */
@media (max-width: 480px) {
  body {
    font-size: 10px;
  }

  nav {
   position: relative;
   width: 100%；
   height: auto;
   padding-top: 0;
   text-align: center;
  }

  nav td {
    display: block;
    padding: 8px 12px;
    text-align: center;
  }
  nav a {
    display: block;
    padding: 10px 15;
    margin: 0;
}

  main.content {
    margin-left: 0;
    padding: 15px;
}
  footer {
    margin-left:0;
  }
}
/* =========================
   Tablet (600px – 900px)
   ========================= */
@media (max-width: 900px) {
  body {
    font-size:16px;
  }

  nav {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 0;
    text-align: center;
  }
  nav a {
    margin: 0;
}
  main.content {
    margin-left: 0;
    padding: 15px;
}
  footer {
    margin-left:0;
  }
}
/* =========================
   Desktop (≥ 1024px)
   ========================= */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
    max-width: 1536px;
    margin: auto;
  }

  .content {
    text-align: left;
  }
}
